<img width="100%" src="https://i1.wp.com/ral-sa.com/wp-content/uploads/2017/09/logo-vet.jpg?resize=720%2C257&ssl=1">

<div class="row animated fadeIn fast">
	<div class="col m12 s12">
		<div class="row  valign-wrapper">	
			<div class="col s8 m8">	
				<h4>Mascotas registradas</h4>
			</div>
			<div class="col s4 m4 right-align">
				<button [routerLink]="['/mascota', 'nuevo']" class="btn pink">Registrar</button>
			</div>
		</div>
	</div>
	 <table class="highlight centered">
        <thead class="orange">
          <tr>
              <th class="orange">#</th>
              <th>Nombre</th>
              <th class="cyan">Raza</th>
              <th>Edad</th>
              <th class="cyan">Opciones</th>
          </tr>
        </thead>
        <tbody class="z-depth-5" *ngIf="mascotas">
        	<tr *ngFor="let mascota of mascotas; let i = index">
            <td> {{ i+1 }} </td>
        		<td> {{ mascota.data.nombre }} </td>
        		<td> {{ mascota.data.raza }} </td>
        		<td> {{ mascota.data.edad }} </td>
        		<td>
        			<i (click)="editarMascota(mascota.id)" class="material-icons edit">mode_edit</i>
					    <i (click)="eliminarMascota(mascota.id)" class="material-icons close">close</i>
        		</td>
        	</tr>
        </tbody>
          <tr *ngIf="cargando">
              <td colspan="5">  
                  <div class="progress">
                      <div class="indeterminate"></div>
                  </div>
              </td>
          </tr>   
      </table>
</div>

