<div class="container main-container">
	<div class="chat-window">
		<h4>Chat</h4>
		<hr>

		<div class="app-mensajes" id="app-mensajes">
			<div *ngFor="let _chat of chat.chats" [ngClass]="{'right-align': chat.usuario.uid == _chat.uid,
									          'left-align': chat.usuario.uid != _chat.uid}">
				<span [ngClass]="{'red': chat.usuario.uid == _chat.uid,
								  'green': chat.usuario.uid != _chat.uid}"> {{ _chat.nombre }} </span>
					<p> {{ _chat.mensaje }} </p>	
				
			</div>

			<!-- <div class="left-align">
				<span class="blue">Dhani</span>
					<p> {{ mensaje.mensaje }} </p>
				
			</div> -->
		</div>

		<input type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar Mensaje">
		
	</div>
</div>