<div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <input type="file" name="file_photo" (change)="addImage($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload images to gallery">
      </div>
 </div>