<app-add-photo></app-add-photo>

<div class="row" *ngIf="images">
    <div *ngFor="let i of images" class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://ucarecdn.com/{{i.data.file}}/">
        </div>
      </div>
    </div>    
 </div>