<nav>
  <div class="nav-wrapper #263238 blue-grey darken-4">
    <a class="logotipo brand-logo"><img src="http://assets.stickpng.com/thumbs/5847f91ccef1014c0b5e48b8.png" width="70px" height="70px"> <span> FreeCodeCamp</span></a>
    <ul class="right hide-on-med-and-down">
        <li [routerLinkActive]="['active']"><a [routerLink]="'/cursos'">Courses</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="'/gallery'">Gallery</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="'/mascotas'">Mascotas</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="'/chat'">Chat</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="'/comidas'">Comidas</a></li>
    </ul>
  </div>
</nav>