<button class="btn yellow" (click)="fileInput.click()">Clock</button>
<input #fileInput type="file" (change)="chooseFiles($event)" style="display:none;">

<img style="height: 400px; width: 400px;" src="{{ imgsrc }}">

	<div class="progress">
					      <div class="determinate" [ngStyle]="{'width': carga + '%'}" style="background: orange;"></div>
					    </div>


<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
	<div>
		<label>Company</label>
		<input formControlName="company"  type="text" placeholder="Company">
	</div>
	<div *ngIf="myForm.get('company').errors && myForm.get('company').dirty">
		<p *ngIf="myForm.get('company').hasError('required')">Field is required</p>
		<p *ngIf="myForm.get('company').hasError('minlength')">Min 5</p>
		<p *ngIf="myForm.get('company').hasError('maxlength')">Max 10</p>
	</div>
	<button type="submit">Guardar</button>
</form>


<hr><hr>

<form (ngSubmit)="situacion()">
	<input type="text" [(ngModel)]="objeto.edad" name="edad" placeholder="edad">
	<input type="text" [(ngModel)]="objeto.peso" name="peso" placeholder="peso">
	<input type="text" [(ngModel)]="objeto.talla" name="talla" placeholder="talla">
	<input type="text" [(ngModel)]="objeto.genero" name="genero" placeholder="genero">
	<input type="text" [(ngModel)]="objeto.embarazo" name="embarazo" placeholder="embarazo">
	<input type="text" [(ngModel)]="objeto.meses" name="meses" placeholder="meses">
	<input type="text" [(ngModel)]="objeto.cbi" name="cbi" placeholder="cbi">
	<input type="text" [(ngModel)]="objeto.complicacion_clinica" name="complicacion_clinica" placeholder="complicacion_clinica">
	<button type="submit">Enviar</button> <span *ngIf="cargando"><div class="preloader-wrapper big active align-center">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div></span>
</form>
