<app-add-curso></app-add-curso>
<div *ngIf="cursos">
	<div *ngIf="cursos?.length > 0; else noCursos">
		<ul class="collection" *ngFor="let curso of cursos">
			<li class="collection-item">
					<i *ngIf="editState == false" (click)="editarCurso($event, curso)" class="material-icons edit">mode_edit</i>
					<i *ngIf="editState && cursoToEdit.id == curso.id" (click)="clearState()" class="material-icons close">close</i>
				<h5> {{ curso.data.name }} </h5>
				<br>
				<blockquote> {{ curso.data.description }} </blockquote>
			
				<br>
				<span class="my_tag amber">
					<strong>Price: </strong> {{ curso.data.price }}
				</span>
				<span class="my_tag cyan">
					<strong>Language: </strong> {{ curso.data.language }}
				</span>
				<span class="my_tag amber">
					<strong>Facilitator: </strong> {{ curso.data.facilitator }}
				</span>
				<span class="my_tag cyan">
					<strong> Technology: </strong> {{ curso.data.technology }}
				</span>
			
				<hr>

				<div *ngIf="editState && cursoToEdit.id == curso.id" class="container-update">
					<form (ngSubmit)="updateCurso(curso)" class="col s6 m6">
						<div class="row">
							<div class="input-field col s6 m6">
								<input [(ngModel)]="curso.data.name" #name="ngModel" type="text" name="name" id="name">
								<label [ngClass]="{'active': editState}" for="name">Name</label>
							</div>
							<div class="input-field col s6 m6">
								<input [(ngModel)]="curso.data.description" #description="ngModel" type="text" name="description" id="description">
								<label [ngClass]="{'active': editState}" for="description">Description</label>
							</div>
							<div class="input-field col s6 m6">
								<input [(ngModel)]="curso.data.technology" #technology="ngModel" type="text" name="technology" id="technology">
								<label [ngClass]="{'active': editState}" for="technology">Technology</label>
							</div>
							<div class="input-field col s6 m6">
								<input [(ngModel)]="curso.data.facilitator" #facilitator="ngModel" type="text" name="facilitator" id="facilitator">
								<label [ngClass]="{'active': editState}" for="facilitator">Facilitator</label>
							</div>
							<div class="input-field col s4 m4">
								<input [(ngModel)]="curso.data.price" #price="ngModel" type="text" name="price" id="price">
								<label [ngClass]="{'active': editState}" for="price">Price</label>
							</div>
							<div class="input-field col s4 m4">
							   <select class="browser-default" [(ngModel)]="curso.data.language" #language="ngModel" name="language">
							   		<option *ngFor="let language of languageOption" [selected]="lenguajeDefault == language"> {{ language }}</option>
							   </select>
							</div>
							<div class="input-field col s4 m4">
								<input [(ngModel)]="curso.data.date" #date="ngModel" type="text" name="date" id="date">
								<label [ngClass]="{'active': editState}" for="date">Date</label>
							</div>

							<button (click)="borrarCurso($event, curso)" class="btn red right">DELETE</button>
							<button type="submit" class="btn amber">UPDATE</button>
							
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>

<ng-template #noCursos>
	<hr>
	<h5>NO HAY CURSOS</h5>
</ng-template>

	<div *ngIf="cargando" class="center-align">
		  <div class="preloader-wrapper big active align-center">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	</div>