.my_tag{
	font-weight: 300;
	font-size: 1rem;
	border-radius: 3px;
	margin-left: 0;
	text-align: center;
	line-height: 22px;
	color: #000;
	box-sizing: border-box;
	margin-right: 5px;
	padding: 0.3rem;
}

.edit, .close{
	cursor: pointer;
}