<div class="card">
	<div class="card-content">
		<span class="card-title">New course</span>
		<form (ngSubmit)="guardarCurso(formNew)" #formNew="ngForm" class="col s6 m6">
			<div class="row">
				<div class="input-field col s6 m6">
					<input [(ngModel)]="curso.name" #name="ngModel" type="text" name="name" id="name">
					<label for="name">Name</label>
				</div>
				<div class="input-field col s6 m6">
					<input [(ngModel)]="curso.description" #description="ngModel" type="text" name="description" id="description">
					<label for="description">Description</label>
				</div>
				<div class="input-field col s6 m6">
					<input [(ngModel)]="curso.technology" #technology="ngModel" type="text" name="technology" id="technology">
					<label for="technology">Technology</label>
				</div>
				<div class="input-field col s6 m6">
					<input [(ngModel)]="curso.facilitator" #facilitator="ngModel" type="text" name="facilitator" id="facilitator">
					<label for="facilitator">Facilitator</label>
				</div>
				<div class="input-field col s4 m4">
					<input [(ngModel)]="curso.price" #price="ngModel" type="text" name="price" id="price">
					<label for="price">Price</label>
				</div>
				<div class="input-field col s4 m4">
					<select (ngModelChange)="verObjetos($event)" [(ngModel)]="curso.language" #language="ngModel" type="text" name="language" id="language">
						<option value="" disabled selected>Selection your option</option>
						<option [value]="language" *ngFor="let language of languageOption" (click)="verObjetos($event)"> {{ language }}</option>
					</select> 
					<label>Language</label>
				</div>
				<div class="input-field col s4 m4">
					<input [(ngModel)]="curso.date" #date="ngModel" type="text" name="date" id="date">
					<label for="date">Date</label>
				</div>

				<button type="submit" class="btn waves-effect waves-light cyan right">Guardar <i class="material-icons">add_circle</i></button>
			</div>
		</form>
	</div>
</div>