<br>
<div class="right-align" *ngIf="chat.usuario.uid">
	<button class="btn #e91e63 pink" (click)="chat.logout()">Salir</button>
	<app-chat></app-chat>
</div>
<div class="center-align" *ngIf="!chat.usuario.uid">
	<h4>Ingresar al chat</h4>
	<button class="btn blue" (click)="ingresar('google')">Google</button>
	<button class="btn cyan" style="margin-left: 20px;"  (click)="ingresar('twitter')">Twitter</button>
</div>