<div class="row animated fadeIn fast">
	<div class="row  valign-wrapper">	
			<div class="col s8 m8">	
				<h4>Mascota: {{ mascota.nombre }} </h4>
			</div>
			<div class="col s4 m4 right-align">
				<button class="btn amber" [routerLink]="['/mascotas']">Volver</button>
				<button class="btn lime" (click)="resetear(forma)">Nuevo</button>
			</div>
		</div>

	<hr>
	<form (ngSubmit)="guardar()" #forma="ngForm"> 
		<div class="input-field">
			<input [(ngModel)]="mascota.nombre" type="text" name="nombre" required>
			<label [ngClass]="{active: estadoPositivo, '': !estadoPositivo}">Nombre</label>
		</div>
		<div class="input-field">
			<input [(ngModel)]="mascota.raza" type="text" name="raza">
			<label [ngClass]="{active: estadoPositivo, '': !estadoPositivo}">Raza</label>
		</div>
		<div class="input-field">
			<input [(ngModel)]="mascota.edad" type="text" name="edad">
			<label [ngClass]="{active: estadoPositivo, '': !estadoPositivo}">Edad</label>
		</div>
		<button [disabled]="!forma.valid" class="btn #76ff03 light-green accent-3" type="submit">Guardar</button>  
	</form>

</div>