<div class="row fadeIn fast">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title" *ngIf="!editar">Registrar comida</span>
          <span class="card-title" *ngIf="editar">Editar comida</span>
          <div class="row">
          	<form [formGroup]="myForm" (ngSubmit)="guardarComida()" novalidate>

	                 <div class="input-field col s6">
		          <input  formControlName="titulo" name="titulo" type="text" class="validate" [(ngModel)]="comida.titulo" [ngClass]="{'invalid': myForm.get('titulo').errors && myForm.get('titulo').dirty, 'valid': editar}">
		          <label for="titulo" [ngClass]="{active: editar, '': !editar}">Titulo</label>
		          <div *ngIf="myForm.get('titulo').errors && myForm.get('titulo').dirty">
		             <p *ngIf="myForm.get('titulo').hasError('required')" style="color: red">*El titulo es requerido</p>
		             <p *ngIf="myForm.get('titulo').hasError('maxlength')"  style="color: red">*El titulo debe tener un maximo de 20 carácteres</p>
		          </div>
		        </div>

		        <div class="input-field col s6">
		          <input formControlName="ingredientes" name="ingredientes" type="text" class="validate" [(ngModel)]="comida.ingredientes" [ngClass]="{'invalid': myForm.get('ingredientes').errors && myForm.get('ingredientes').dirty, 'valid': editar}">
		          <label for="ingredientes"  [ngClass]="{active: editar, '': !editar}">Ingredientes</label>
		            <div *ngIf="myForm.get('ingredientes').errors && myForm.get('ingredientes').dirty">
		             <p *ngIf="myForm.get('ingredientes').hasError('required')"  style="color: red">*Los ingredientes son requeridos</p>
		          </div>
		        </div>

		        <div class="input-field col s12">
		          <textarea formControlName="descripcion" name="descripcion" class="validate materialize-textarea" [(ngModel)]="comida.descripcion" [ngClass]="{'invalid': myForm.get('descripcion').errors  && myForm.get('descripcion').dirty, 'valid': editar}"></textarea>
		          <label for="descripcion"  [ngClass]="{active: editar, '': !editar}">Descripción</label>
		           <div *ngIf="myForm.get('descripcion').errors && myForm.get('descripcion').dirty">
		             <p *ngIf="myForm.get('descripcion').hasError('required')"  style="color: red">*La descripción es requerida</p>
		          </div>
		        </div>

		        <div class="input-field col s12">
		          <textarea formControlName="preparacion" name="preparacion" class="validate materialize-textarea" [(ngModel)]="comida.preparacion" [ngClass]="{'invalid': myForm.get('preparacion').errors  && myForm.get('preparacion').dirty, 'valid': editar}"></textarea>
		          <label for="preparacion"  [ngClass]="{active: editar, '': !editar}">Preparación</label>
		           <div *ngIf="myForm.get('preparacion').errors && myForm.get('preparacion').dirty">
		             <p *ngIf="myForm.get('preparacion').hasError('required')"  style="color: red">*La preparación es requerida</p>
		          </div>
		        </div>

		        <div appNgDropFiles (mouseSobre)="imagenEnDrop = $event" 
		        	    [archivo]="archivo" 
		        	    [ngClass]="{'hoverable': imagenEnDrop}" 
		        	    (imagenPuesta)="imagenPuesta = $event" 
		        	     class="file-field input-field col s12">
				      <div class="btn blue drop-zone">
				      	<i class="material-icons">cloud</i>
				           <input type="file" name="imagen" (change)="montarImagen($event)">
				      </div>
				      <div class="file-path-wrapper">
				        <input class="file-path validate" type="text" placeholder="Subir imagen">
				      </div>
		      </div>

		      <div class="col s12 m12 xl12 center-align" *ngIf="editar">
			    <img src="{{ comida.url }}" width="300px" height="200px">
		      </div>

		        <div class="col s12" *ngIf="imagenPuesta">
		        	<div class="col s4 center-align">
		        		{{ archivo[0].nombreArchivo }} 
		        	</div>
		        	<div class="col s3 center-align">
		        		{{  archivo[0].archivo.size / 1024 / 1024 | number:'.2-2'}} MB
		        	</div>
		        	<div class="col s4 center-align">
			        	<div class="progress">
					      <div class="determinate" [ngStyle]="{'width': archivo[0].progreso + '%'}" style="background: orange;"></div>
					    </div>
		        	</div>
		        	<div class="col s1 center-align">
		        		<i class="material-icons" (click)="limpiar()" style="cursor: pointer;">close</i>
		        	</div>
		        </div>
		        <div class="col s12 center-align">
		        	<br>
          			<button class="btn blue  waves-light" [disabled]="myForm.invalid" type="submit">Guardar</button>
		        </div>
          	</form>
          </div>
        </div>
      </div>
    </div>
  </div>