<div class="row fadeIn fast">	
	  <div class="col s7 m7">
	    <h2 class="header">Comidas disponibles</h2>
	  </div>
	  <div class="col s5 m5">
	  	<barrita (res)="comidas = $event" style="position: absolute; right: 0"></barrita>
	  </div>
</div>

<div class="row fadeIn fast">
	<div *ngIf="comidas?.length > 0; else noRegistros">	
			<div class="col m12 s8 l7 xl6" *ngFor="let comida of comidas | paginate: {itemsPerPage: 4, currentPage: p}">
			    <div class="card horizontal">
			      <div class="card-image med">
			        <img src="{{ comida.data.url }}">
			      </div>
			      <div class="card-stacked">
			        <div class="card-content">
			          <span class="card-title"> {{ comida.data.titulo }} </span>
			          <p>{{ comida.data.descripcion | slice: 0:120 }}... <a href="">Leer más</a> </p>
			        </div>
			        <div class="card-action">
			      
			        		<div class="col m12 s8 l7 xl6 letras">
			        				<article><strong>Fecha:</strong> {{ comida.data.fecha | date:shortDate }} </article>
					          		<article>
					          			<strong>Publicado por:</strong>
					          			<br> 
					          			{{ comida.data.persona }} 
					          	    </article>
			        		</div>
			        		<div class="col m12 s8 l7 xl6">
			        			
			          		<a class="btn-floating pulse right blue diferenciar" alt="Enviar por Email">
					          				<i class="material-icons">email</i>	
					          			</a>
					          			<a class="btn-floating pulse right amber diferenciar" (click)="editarComida(comida.id)">
					          				<i class="material-icons">edit</i>	
					          			</a>
					          			<a class="btn-floating pulse right red diferenciar" (click)="eliminarComida(comida.id)">
					          				<i class="material-icons">delete_forever</i>	
					          			</a>
			        		</div>
			
			        </div>
			      </div>
			    </div>
			</div>
	
	</div>
	<ng-template #noRegistros>
		<div class="valign-wrapper" style="height: 500px; display: flex; justify-content: center;"> 
			<h5>NO HAY REGISTROS</h5>
		</div>
	</ng-template>

</div>
<div class="row fadeIn fast">
	<div class="col m12 s12 center-align">
		<!--  <ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active orange"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">5</a></li>
		    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		  </ul> -->
		  <pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>