li{
	cursor: pointer;
	margin: 0;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100vh;
  font-size: 0.65em;
  font-family: Arial;
  font-size: 12px;
}

.sd{
  position: relative;
  margin: 0;
  top: 40%;
  transform: translateY(-50%);
  font-weight: bold;
}

.sd ul{
  list-style: none;
}

.sd ul li{
    position: relative;
    text-align: center;
}

.sd ul li a{
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease-out 300ms;
}

.sd ul li a:hover{
      background: #FF8E21;
}

.link-activo{
    background: #FF8E21;
}

.sd ul li a i{
  margin-right: 5px;
}