  <aside class="sidebar #e65100 orange darken-4">
    <div class="sd">
      <ul>
        <li  [routerLinkActive]="['link-activo']"><a [routerLink]="'lista'"><i class="material-icons">receipt</i> Comidas</a></li>
        <li  [routerLinkActive]="['link-activo']"><a [routerLink]="'agregar'"><i class="material-icons">restaurant_menu</i> Agregar</a></li>
        <li  [routerLinkActive]="['link-activo']" (click)="alertar()"><a>Contacto</a></li>
        <li  [routerLinkActive]="['link-activo']"><a>Extra</a></li>
      </ul>
    </div>
  </aside>